<!DOCTYPE html>
<html>
	<head>
		{{> common/html_head}}
	</head>
	<body>
		<div class="header">{{> common/header}}</div>
		<div class="body container-fluid">
			<div class="row">
				<div class="col-md-1 col-sm-2">{{> showcase/case}}</div>
				<div class="col-md-11 col-sm-10">{{{body}}}</div>
			</div>
		</div>
		<div class="footer">{{> common/footer}}</div>
	</body>
</html>
