<span class="ehrms">
	<a href="/">eHRMS 2.0</a>:
</span>
<span class="module">{{module}}</span>

<div class="menu">
	<a href="/showcase/">SHOWCASE</a> |
	<a href="/reference">REFERENCE</a> |
	<a href="/tutorial">TUTORIAL</a> |
	<a href="#">ENTER</a>
</div>
