<meta charset="utf-8">
<title>eHRMS 2.0 Showcase</title>
<link rel="shortcut icon" HREF="/favicon.ico">
<link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/mootools-1.5.1.js"></script>
<script type="text/javascript" src="/js/mootools-extension-mbox0.2.6.js"></script>
<script type="text/javascript" src="/js/mootools-extension-meio.mask.js"></script>
<script type="text/javascript" src="/js/mootools-extension-meio.autocomplete.js"></script>
<script type="text/javascript" src="/js/104-1.12.js"></script>